---
import StyledButton from "./StyledButton.astro";
---

<div>
  <h1 class="h1">H1 here</h1>
  <p>This button should have the same black background with white text, but does not</p>
  <StyledButton />
  <p>If you remove the "Card"'s `style` tag, then the `StyledButton` is added</p>
  <p>This only occurs when you have a `&lcub;...props&rcub;` passed to the `StyledButton` component. If you remove it, it works</p>
</div>
<style>
  .h1 {
    background: black;
    color: white;
    font-weight: bold;
  }
</style>
